<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-language" content="vi" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Template" />
  <meta name='COPYRIGHT' content='&copy; Template' />
  <meta name="robots" content="noodp,index,follow" />
  <meta name="google" content="notranslate" />
  <meta name="keywords" content="" />
  <meta name="description" content="Hocbaionha là bạn đồng hành tin 
  cậy của nhà trường và học sinh Việt Nam hỗ trợ học sinh làm chủ kiến thức 
  và tự tin bước tới tương lai." />
  <meta property="og:title" content="Học Bài Ở Nhà" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:url" content="website link" />
  <meta property="og:image" content="local/homepage/upload/img/logo_mobile.png" />
  <meta property="og:description" content="Hocbaionha là bạn đồng hành tin 
  cậy của nhà trường và học sinh Việt Nam hỗ trợ học sinh làm chủ kiến thức 
  và tự tin bước tới tương lai." />
  <meta property="og:site_name" content="website name" />
  <link rel="shortcut icon" href="../images/favicon.ico" /> 
  <link href="../css/bootstrap.min.css" rel="stylesheet" > 
  <link href="../css/owl.carousel.min.css" rel="stylesheet" />
  <link href="../css/font-awesome.min.css" rel="stylesheet" />
  <link href="../css/style.min.css" rel="stylesheet" /> 
  <link href="../css/hbon.css" rel="stylesheet" /> 
  <link href="../css/my-style.css" rel="stylesheet" /> 
</head>
<body>
  <div class="b-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../images/logo_hbon.jpg" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse nav-toggle__mb navbar-collapse text-center" id="navbarSupportedContent" >
          <ul class="navbar-nav"><!--  ml-auto -->
            <li class="nav-item active">
              <a class="nav-link" href="">Giới thiệu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hướng dẫn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đội ngũ</a>
            </li>
            <li class="nav-item last-menu">
              <a class="nav-link" href="#">Phí hội viên</a>
            </li> 
            <li class="nav-item login-mobile">
              <a class="nav-link" href="https://hocbaionha.com/login/index.php">Đăng nhập</a>
              <a class="nav-link regin" href="https://hocbaionha.com/login/index.php">Đăng ký</a>
            </li> 
          </ul> 
           <ul class="navbar-nav menu-desktop ml-auto"><!--  ml-auto -->
             <li class="nav-item">
              <a class="nav-link" href="https://hocbaionha.com/login/index.php">Đăng nhập</a>
              </li> 
              <li class="nav-item ">
              <a class="nav-link regin" href="https://hocbaionha.com/login/index.php">Đăng ký</a>
              </li> 
          </ul> 
        </div>
      </nav>
    </div>
  </div><!-- l-header -->  
  <!-- content -->
  <div class="container">
    <div class="url">
      <i>Trang chủ / Khóa học</i>
    </div>
    <div class="row">
      <div class="col-sm-8 grid-3">
        <div class="tt">
          <h2 class="title-section">CÁC KHÓA HỌC</h2>
          <select class="float-right" id="select-course">
            <option value="0">Tất cả các khóa học</option>
            <option value="6">Lớp 6</option>
            <option value="7">Lớp 7</option>
            <option value="8">Lớp 8</option>
            <option value="9">Lớp 9</option>
            <option value="10">Luyện thi 10</option>
          </select>
        </div>
        <div class="row content">
          <div class="col-sm-6 col-md-4 item cl6">
           <div class="core">
              <img src="../upload/img/Subject_Props_daiso6.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Đại số 6</h4>
           </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl6">
            <div class="core">
              <img src="../upload/img/Subject_Props_hinh6.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Hình học 6</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl6">
            <div class="core">
              <img src="../upload/img/Subject_Props_van6.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Ngữ văn 6</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl7">
            <div class="core">
              <img src="../upload/img/Subject_Props_daiso7.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Đại số 7</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl7">
            <div class="core">
              <img src="../upload/img/Subject_Props_hinh7.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Hình học 7</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl7">
           <div class="core">
              <img src="../upload/img/Subject_Props_van7.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Ngữ văn 7</h4>
           </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl8">
            <div class="core">
              <img src="../upload/img/Subject_Props_daiso8.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Đại số 8</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl8">
           <div class="core">
              <img src="../upload/img/Subject_Props_hinh8.png" style="width: 100%" alt="">
                <h4 class="text-center name-course">Hình học 8</h4>
           </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl8">
            <div class="core">
              <img src="../upload/img/Subject_Props_van8.png" style="width: 100%" alt="">
                <h4 class="text-center name-course">Ngữ văn 8</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl9" >
           <div class="core">
              <img src="../upload/img/Subject_Props_daiso9.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Đại số 9</h4>
           </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl9" data_id="9">
           <div class="core">
              <img src="../upload/img/Subject_Props_hinh9.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Hình học 9</h4>
           </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl9" data_id="9">
            <div class="core">
              <img src="../upload/img/Subject_Props_van9.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Ngữ văn 9</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl9 cl10" data_id="10">
            <div class="core">
              <img src="../upload/img/Subject_Props_LuyenthiToan.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Luyện thi 10 môn toán</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl9 cl10" data_id="10">
            <div class="core">
              <img src="../upload/img/Subject_Props_LuyenthiSu.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Luyện thi 10 môn lịch sử</h4>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 item cl9 cl10" data_id="10">
           <div class="core">
              <img src="../upload/img/Subject_Props_LuyenthiVan.png" style="width: 100%" alt="">
              <h4 class="text-center name-course">Luyện thi 10 môn văn</h4>
           </div>
          </div>
        </div>
      </div>
      <div class="co-sm-4">
        <div class="tt">
          <h2 class="title-section">CÓ THỂ BẠN QUAN TÂM</h2>
        </div>
         <ul class="block-right">
           <li class="">
            <a href="">
              <div class="left vertical-top">
                <!-- <img src="../upload/img/Subject_Props_LuyenthiSu.png" alt=""> -->
                <div style="background-image: url(../upload/img/Subject_Props_LuyenthiSu.png);" class="bg-cours"></div>
              </div>
              <div class="right vertical-top">
                <h4 class="name-course">Luyện thi 10 môn văn</h4>
                <p>23/03/2019</p>
              </div>
            </a>
           </li>
         </ul>
      </div>
    </div>
  </div>
  <!-- endcontent -->
  <!-- footer -->
<div class="b-footer"> 
  <div class="container">
    <div class="b-footer__info justify-content-between">
      <div class="b-footer__left">
        <div class="b-footer__logo b-footer__title">
          <a href="#"><img src="../images/logo_footer_white.png" /></a>
        </div>
        <div class="b-footer__content">
          <p>139 Xuân Thủy</p>
          <p>Cầu giấy</p>
          <p>Hà Nội, Việt Nam</p>
          <p>email@here.com</p>
          <p>Copyright© Dong Phuong EduTech Co.Ltd</p>
        </div>
      </div>
      <div class="b-footer__right">
        <div class="b-footer__flex">
          <div class="b-footer__resources">
            <h3 class="b-footer__title">Tài Nguyên</h3>
            <ul>
              <li><a href="#">Thành viên</a></li>
              <li><a href="#">Điều khoản</a></li> 
            </ul>
          </div>
          <div class="b-footer__social">
            <h3 class="b-footer__title">Social</h3>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Google</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <img src="../upload/img/colors_footer.png" class="img-fluid bg-footer" alt="">
</div><!-- b-footer -->   
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script> 
<script src="../js/style.js"></script> 
</body>
</html>
