
<div class="section-012">
    <div class="container">
        <div class="furgan-heading style-01">
            <div class="heading-inner">
                <h3 class="title">Cảm nghĩ của khách hàng</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-2 col-xl-8 col-lg-8">
            {{{ tesmonial}}}
            </div>

        </div>



        
    </div>
</div>