    <div class="row" id="course-tab" style="display:none;">
        <div class="sidebar-title1">

            &lt;!&ndash; Lined tabs&ndash;&gt;
            <ul role="tablist"
                class="nav nav-tabs nav-pills with-arrow lined flex-sm-row text-center">
                <li class="nav-item flex-sm-fill col-4">
                    <a id="thcs-tab" data-toggle="tab" href="#courses" role="tab"
                        class="nav-link text-uppercase active">THCS</a>
                </li>
                 <li class="nav-item flex-sm-fill col-4" id="membership">
                    <a id="ltv10-tab" data-toggle="tab" href="#thcs-sidebar" role="tab" class="nav-link text-uppercase">Thẻ thành viên</a>
                </li>
            </ul>
            &lt;!&ndash; End lined tabs &ndash;&gt;
        </div>
    </div>


<div class="container" id="courses">
    <div class="row">
        <div class="main-content col-xl-12 col-lg-12 col-md-12 col-sm-12 has-sidebar">
            {{#course_categories}}
            <div class="course-group {{{css_class}}}" style="padding-top:50px" id="{{{id}}}">
                <div>
                    <div class="furgan-heading style-01">
                        <div class="heading-inner">

                            <h3 id={{{id}}} class="title">{{{title}}}</h3>
                        </div>
                    </div>
                </div>

                <div class="course-group-slick">
                    {{#courses}}
                    <div class="course-item">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="img">
                                        <img
                                            src="{{{ config.wwwroot }}}/local/school/image.php?filename={{{thumb_img}}}" />
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>
                                        {{{thumb_desc}}}
                                    </p>
                                    <a href="/?course_detail={{{shortname}}}"
                                        class="button btn-submit submit-course-view ripple-effect">
                                        <span class="text">Xem khóa học</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="/?course_detail={{{shortname}}}">
                        <div style="text-align:center;margin-top:5px;">{{{title}}}</div>

                        </a>
                    </div>
                    {{/courses}}
                </div>
            </div>
            {{/course_categories}}
        </div>

    </div>
</div>
