<div class="banner-wrapper has_background">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">{{{coursename}}}</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="\"><span>Trang chủ</span></a></li>
                <li class="trail-item"><a href="/?courses=1"><span>Khoá học</span></a></li>
                {{#shortname}}
                <li class="trail-item trail-end active"><span>{{{shortname}}}</span></li>
                 {{/shortname}}
            </ul>
        </div>
    </div>
</div>