<div class="section-003">
    <div class="container">
        <div class="furgan-heading style-01">
            <div class="heading-inner">
                <h3 class="title">Bài giảng Video</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="img">
                    <div id="player1"  ></div>
                    <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/thumbnail/VideoThumb-01.png"
                         id="iplayer1">
                </div>
                <div class="video-overlay" id="ovplayer1">
                    <div class="stockie-video-module-sc video-module video-module-preview open-popup  with-anim"
                        data-video-module="https://www.youtube.com/embed/E5KYVFKgbVw">
                        <div class="video-headline">

                        </div>
                        <div class="video-module-inner"  id="play_vid1">
                            <div class="btn-play btn-round " tabindex="1">
                                <i class="fa fa-play icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 ">

                <div class="img">
                    <div id="player2" ></div>
                    <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/thumbnail/VideoThumb-04.png"
                        style="width:800px" id="iplayer2">
                    <div class="video-overlay" id="ovplayer2">
                        <div class="stockie-video-module-sc video-module video-module-preview open-popup  with-anim video-module-preview-2"
                            data-video-module="https://www.youtube.com/embed/n2ljz23jOJs">
                            <div class="video-headline">

                            </div>
                            <div class="video-module-inner"  id="play_vid2">
                                <div class="btn-play btn-round " tabindex="1">
                                    <i class="fa fa-play icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img hpimgbottom">
                    <div id="player3" ></div>
                    <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/thumbnail/VideoThumb-05.png" style="width:800px" id="iplayer3">
                    <div class="video-overlay hpbottom" id="ovplayer3">
                        <div class="stockie-video-module-sc video-module video-module-preview open-popup  with-anim video-module-preview-2"
                            data-video-module="https://www.youtube.com/embed/AMyPY-r0qDk">
                            <div class="video-headline">

                            </div>
                            <div class="video-module-inner"  id="play_vid3">
                                <div class="btn-play btn-round " tabindex="1">
                                    <i class="fa fa-play icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-4 ">
                <div class="img">
                    <div id="player4" ></div>
                    <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/thumbnail/VideoThumb-02.png" style="width:800px" id="iplayer4">
                    <div class="video-overlay" id="ovplayer4">
                        <div class="stockie-video-module-sc video-module video-module-preview open-popup  with-anim video-module-preview-2"
                            data-video-module="https://www.youtube.com/embed/d7oZIHX3bbE">
                            <div class="video-headline">

                            </div>
                            <div class="video-module-inner" id="play_vid4">
                                <div class="btn-play btn-round " tabindex="1">
                                    <i class="fa fa-play icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="img">
                    <div id="player5" ></div>
                    <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/thumbnail/VideoThumb-03.png" style="width:800px" id="iplayer5">
                    <div class="video-overlay" id="ovplayer5">
                        <div class="stockie-video-module-sc video-module video-module-preview open-popup  with-anim video-module-preview-2"
                            data-video-module="https://www.youtube.com/embed/znO93udBcqQ">
                            <div class="video-headline">

                            </div>
                            <div class="video-module-inner" id="play_vid5">
                                <div class="btn-play btn-round " tabindex="1">
                                    <i class="fa fa-play icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="img">
                    <div id="player6" ></div>
                    <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/thumbnail/VideoThumb-06.png" style="width:800px" id="iplayer6">
                    <div class="video-overlay" id="ovplayer6">
                        <div class="stockie-video-module-sc video-module video-module-preview open-popup  with-anim video-module-preview-2"
                            data-video-module="https://www.youtube.com/embed/qBEP-grTNxY">
                            <div class="video-headline">

                            </div>
                            <div class="video-module-inner" id="play_vid6">
                                <div class="btn-play btn-round " tabindex="1">
                                    <i class="fa fa-play icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




</div>
</div>
