<div class="fullwidth-template">
    {{> theme_hbon_app/hbon_app_hp_body_slider }}
    {{> theme_hbon_app/hbon_app_hp_body_section_01 }}
    {{> theme_hbon_app/hbon_app_hp_body_section_02 }}
    {{> theme_hbon_app/hbon_app_hp_body_section_03 }}
    {{> theme_hbon_app/hbon_app_hp_body_section_04 }}
</div>
