<div class="slide-home-01" >
    <div class="response-product product-list-owl owl-slick equal-container better-height">
<!--        <div class="slide-wrap" style="display: block">-->
<!--            <picture>-->
<!--                <source media="(min-width: 666px)"-->
<!--                        srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/20-11-desktop.png">-->
<!--                <source media="(min-width: 300px)"-->
<!--                        srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/20-11-mobile.png">-->
<!--                <img src="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/20-11-mobile.png"-->
<!--                     alt="IfItDoesntMatchAnyMedia">-->
<!--            </picture>-->
<!--            &lt;!&ndash;            <div class="slide-info">&ndash;&gt;-->
<!--            &lt;!&ndash;                <div class="container" style="text-align:center;">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <div class="slide-inner">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <h1>English EveryDay club</h1>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <h2>Speak freely - Speak naturally</h2>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <div class="btn-group">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="button1 login-banner"><b>Đăng nhập</b></div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="button2 signup-banner"><b>Đăng ký</b></div>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="slide-wrap">-->
<!--            <picture>-->
<!--            <source media="(min-width: 666px)"-->
<!--                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider7-desktop.png">-->
<!--            <source media="(min-width: 300px)"-->
<!--                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider7-mobile.png">-->
<!--            <img src="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider7-mobile.png"-->
<!--                 alt="IfItDoesntMatchAnyMedia">-->
<!--        </picture>-->
<!--            <div class="slide-info">-->
<!--                <div class="container" style="text-align:center;">-->
<!--                    <div class="slide-inner">-->
<!--                        <h1>English EveryDay club</h1>-->
<!--                        <h2>Speak freely - Speak naturally</h2>-->
<!--                        <div class="btn-group">-->
<!--                            <div class="button1 login-banner"><b>Đăng nhập</b></div>-->
<!--                            <div class="button2 signup-banner"><b>Đăng ký</b></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="slide-wrap">
                <picture>
                    <source media="(min-width: 666px)"
                        srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider1-desktop.png">
                    <source media="(min-width: 300px)"
                        srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider1-mobile.png">
                    <img src="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider1-mobile.png"
                        alt="IfItDoesntMatchAnyMedia">
                </picture>
                <div class="slide-info">
                    <div class="container" style="text-align:center;">
                        <div class="slide-inner">
                            <h1>Hãy học đúng cách</h1>
<!--                            <h2>Vững vàng kiến thức</h2>-->
                            <div class="btn-group">
                                <div class="button1 login-banner"><b>Đăng nhập</b></div>
                                <div class="button2 signup-banner"><b>Đăng ký</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="slide-wrap">
            <picture>
                <source media="(min-width: 666px)"
                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider3-desktop.png">
                <source media="(min-width: 300px)"
                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider3-mobile.png">
                <img src="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider3-mobile.png"
                    alt="IfItDoesntMatchAnyMedia">
            </picture>
            <div class="slide-info">
                <div class="container" style="text-align:center;margin-top:50px;">
                    <div class="slide-inner">
                        <h1>HBON Skills Builder </h1>


                    </div>
                </div>
            </div>
        </div>
        <div class="slide-wrap">
            <picture>
                <source media="(min-width: 666px)"
                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider4-desktop.png">
                <source media="(min-width: 300px)"
                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider4-mobile.png">
                <img src="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider4-mobile.png"
                    alt="IfItDoesntMatchAnyMedia">
            </picture>
            <div class="slide-info">
                <div class="slide-inner">
                    <h1 style="color:#fff;  text-align:center;">Học Toán với </h1>
                    <h2 style="color:#fff; text-align:center;" >HBON Math</h2>
                    <div class="btn-group"  style="align-items: center; justify-content: center;  display: flex;">
                        <div class="button1" id="hbonmath-land"  style=" text-align:center;justify-content: center; padding-bottom:8px"><b>Tìm hiểu ngay</b></div>
                        <div class="button2" id="hbonmath-payment"  style=" text-align:center;justify-content: center; padding-bottom:8px"><b>Đăng ký</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-wrap">
            <picture>
                <source media="(min-width: 666px)"
                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider5-desktop.png">
                <source media="(min-width: 300px)"
                    srcset="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider5-mobile.png">
                <img src="{{{ config.wwwroot }}}/theme/hbon_app/pix/slide/Slider5-mobile.png"
                    alt="IfItDoesntMatchAnyMedia">
            </picture>
            <div class="slide-info">
                <div class="container" style="text-align:center;margin-top:50px;">
                    <div class="slide-inner">
                        <h1 style="color:#fff;">Luyện thi vào lớp 10</h1>
                        <h2 style="color:#fff;">NGAY TỪ BÂY GIỜ</h2>
                        <div class="btn-group">
                            <div class="button1" id="ltv10-land"><b>Tìm hiểu ngay</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
