<div class="section-001">
    <div class="container">
        <div class="furgan-heading style-01">
            <div class="heading-inner">
                <h3 class="title">Chào mừng đến với hocbaionha.com </h3>
                <div class="subtitle">Nền tảng tri thức học trực tuyến theo khung chương trình chuẩn.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02 flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon01">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-1.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">2000+ bài giảng lý thuyết, video, đề thi...</div>
                            </div>
                        </div>
                        <div id="icon01desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Hiện nay, với 3 môn Toán, Ngữ Văn và Tiếng Anh, hocbaionha đã sản xuất khoảng hơn 2.000 bài học dưới nhiều hình thức khác nhau như bài tổng hợp kiến thức lý thuyết, bài giảng video, bài học tương tác…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02 flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon02">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-2.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">55.000+ câu hỏi, bài tập tương tác</div>
                            </div>
                        </div>
                        <div id="icon02desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Hơn 55.000 câu hỏi, bài tập tương tác có lời giải và đáp án chi tiết giúp cho học sinh có thể tự học tại nhà mà vẫn đạt được hiệu quả cao. Giáo viên cũng có thể sử dụng ngân hàng câu hỏi cho mục đích lập phiếu bài tập, bài kiểm tra theo mục đích riêng.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02  flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon03">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-3.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">Hệ thống kiến thức chuẩn mực, đầy đủ</div>
                            </div>
                        </div>
                        <div id="icon03desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Nội dung bám sát theo khung chương trình phổ thông của Bộ Giáo dục và Đào tạo; kiến thức lí thuyết chuẩn mực, đầy đủ, với mục đích sư phạm cao nhằm giúp học sinh học tập hiệu quả nhất và hỗ trợ giáo viên trong việc giảng dạy trực tiếp.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02  flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon04">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-4.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">Phương pháp học tập phong phú, tiên tiến</div>
                            </div>
                        </div>
                        <div id="icon04desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Với việc ứng dụng nền tảng công nghệ tiên tiến trong giáo dục trực tuyến của thế giới, các bài học và luyện tập của hocbaionha có hình thức phong phú như thông qua videos, bài tập tương tác, bài mô phỏng, … giúp học sinh có thể lựa chọn cho mình cách học phù hợp</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02  flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon05">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-5.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">Rèn luyện tư duy và kỹ năng giải quyết vấn đề </div>
                            </div>
                        </div>
                        <div id="icon05desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Bài tập của hocbaionha với những câu hỏi, gợi ý và phản hồi được thiết kế để hướng dẫn học sinh tự khám phá, quan sát và tổng hợp kiến thức, kích hoạt tư duy, và rèn luyện năng lực giải quyết vấn đề một cách linh hoạt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02  flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon06">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-6.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">Môi trường học tập hứng thú</div>
                            </div>
                        </div>
                        <div id="icon06desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Hệ thống lý thuyết và bài tập phong phú về cả nội dung lẫn hình thức nhằm mang đến sự hứng thú trong quá trình học tập của học sinh. Giao diện ứng dụng được thiết kế đơn giản, gọn gàng, giàu cảm hứng và năng lượng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02  flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon07">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-7.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">Nâng cao hiệu suất học tập</div>
                            </div>
                        </div>
                        <div id="icon07desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Giáo viên và học sinh có nguồn học liệu chất lượng để tự chuẩn bị trước cho giờ học trên lớp, ôn tập sau tiết học, tiết kiệm thời gian và nâng cao hiệu suất học tập.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="flip-icon">
                    <div class="furgan-iconbox style-02  flip-icon-inner">
                        <div class="iconbox-inner flip-icon-front">
                            <div class="img" id="icon08">
                                <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/hbon_app/pix/home-icon-8.png">
                            </div>
                            <div class="content">
                                <h4 class="title"></h4>
                                <div class="desc">Luôn đồng hành và sát cánh với học sinh</div>
                            </div>
                        </div>

                        <div id="icon08desc" class="flip-icon-back">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="">Hocbaionha.com luôn luôn đồng hành và hỗ trợ học sinh trong việc học tập: phản hồi, trợ giúp kịp thời khi học sinh học bài ở nhà; sẵn sàng tư vấn, giải đáp những thắc mắc của học sinh và cả phụ huynh về kiến thức, phương pháp học tập… nhằm giúp cho học sinh học tập hiệu quả hơn.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
        </div>
    </div>
</div>