{{!
    This file is part of hbon_app theme - https://hbon_app.vn/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Welcome section
}}


<div class="container block">
    <div class="text-center title-block">
        <h2 class="title" style="color: gray; padding-bottom: 20px">CHÀO MỪNG ĐẾN VỚI <br>HOCBAIONHA.COM</h2>
    </div>
    <div class="row">
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl1">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-1.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-1.png" alt="" class="_normal">
            <h4>2000+ bài giảng lý thuyết, video, đề thi...</h4>
        </div>
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl2">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-2.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-2.png" alt="" class="_normal">
            <h4>55.000+ câu hỏi, bài tập tương tác</h4>
        </div>
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl3">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-3.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-3.png" alt="" class="_normal">
            <h4>Hệ thống kiến thức chuẩn mực, đầy đủ</h4>
        </div>
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl4">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-4.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-4.png" alt="" class="_normal">
            <h4>Phương pháp học tập phong phú, tiên tiến</h4>
        </div>
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl5">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-5.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-5.png" alt="" class="_normal">
            <h4>Rèn luyện tư duy và kỹ năng giải quyết vấn đề </h4>
        </div>
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl6">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-6.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-6.png" alt="" class="_normal">
            <h4>Môi trường học tập hứng thú</h4>
        </div>
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl7">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-7.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-7.png" alt="" class="_normal">
            <h4>Nâng cao hiệu suất học tập</h4>
        </div>
        <div class="col-6 col-sm-3 text-center item-content-block" data-toggle="modal" data-target="#hl8">
            <img src="local/homepage/upload/icon/homeIcon/home_icon-8.png" alt="" class="showHover">
            <img src="local/homepage/upload/icon/homeIcon/home_icon_gray-8.png" alt="" class="_normal">
            <h4>Luôn đồng hành và sát cánh với học sinh</h4>
        </div>
    </div>
</div>