{{!
    @template theme_boost/columns2

    Admin time setting template.


}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>

<head>
	<title>{{{ output.page_title }}}</title>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="{{{ config.wwwroot }}}/theme/classon/pix/favicon.ico" />
	<link href="{{{ config.wwwroot }}}/theme/classon/style/all.css" rel="stylesheet">
	{{!--//ios_homescreen_icons (theme class function)--}}
	{{{ output.ios_homescreen_icons}}}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	{{{ output.standard_head_html }}}

	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/animate.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/chosen.min.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/jquery.scrollbar.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/lightbox.min.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/magnific-popup.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/slick.min.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/fonts/flaticon.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/megamenu.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/dreaming-attribute.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/icons.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/style.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/classon.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/my-style.css" />
	<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/mmenu.css" />
</head>

<body {{{ bodyattributes }}}>
	{{{ output.standard_top_of_body_html }}}

	{{> theme_classon/classon_hp_header }}
	<div class="container">
		<h1>TERMS
			AND CONDITION (ĐIỀU KHOẢN DỊCH VỤ)</h1>
		<h2>A. QUY ĐỊNH VÀ HÌNH THỨC
			THANH TOÁN</h2>
		</p>
		<h3>I. SỞ HỮU TRÍ TUỆ</h3>
		<p>Hệ thống giáo dục
			HOCBAIONHA có tên miền là <a href="https://hocbaionha.com/">https://hocbaionha.com</a>
			là sở hữu và được vận hành, duy trì bởi Công
			ty TNHH Công nghệ và Giáo dục Đông Phương.
			HOCBAIONHA cung cấp nội dung dạy và học môn Toán, Ngữ
			Văn, Tiếng Anh cho cấp học Trung học cơ sở ở Việt
			Nam. Tất cả các nội dung văn bản, hình ảnh, chương
			trình máy tính, logo của trang web này được sở hữu
			bởi Công ty TNHH
			Công nghệ và Giáo dục Đông Phương. Việc
			sở hữu các tài sản này được bảo vệ bới&nbsp;Luật
			sở hữu trí tuệ của Việt Nam và Quốc tế.&nbsp;Mọi
			hành vi sao chép, chỉnh sửa, truyền phát và phân phối
			các nội dung này&nbsp;đều phải được phép của Công
			ty. Mọi vi phạm bản quyền của HOCBAIONHA sẽ bị xử lý
			theo quy định của pháp luật Việt Nam hiện hành về
			quyền sở hữu trí tuệ.</p>
		<h3>II. HÌNH THỨC THANH TOÁN</h3>
		<h4>
			<ol>
				<li>
					<p>Nộp
						học phí qua cổng thanh toán Ngân Lượng bằng thẻ ATM,
						Visa, MasterCard</p>
			</ol>
		</h4>
		<p>Bước 1. Bạn truy cập vào đường link: <a href="https://hocmai.vn/payment"
				target="_blank">https://hocbaionha.com/payment</u></a>
		</p>
		<p>Chọn hình thức thanh toán trực tuyến
		</p>
		<p>Bước 2.
			Làm theo hướng dẫn nạp học phí qua thẻ ATM: <a href="">Hướng
				dẫn thanh toán trực tuyến</a></p>
		<h2>B.
			QUY ĐỊNH VỀ TÀI KHOẢN HỌC TẬP</h2>
		<p>Để đảm bảo quyền lợi
			của Bạn tham gia Chương trình học tập trực tuyến tại
			HOCBAIONHA, Công ty TNHH
			Công nghệ và Giáo dục Đông Phương
			quy định một số nội quy về học tập và sử dụng tài
			khoản như sau:</p>
		<h3>I.
			PHẠM VI ĐIỀU CHỈNH VÀ ĐỐI TƯỢNG ÁP DỤNG</h3>
		<p>Nội quy này quy định một
			số quy chế trong việc tham gia Chương trình học trực
			tuyến tại HOCBAIONHA bao gồm: Sử dụng tài khoản, Thời
			gian học, Văn hóa ứng xử trong quá trình học tập. Nội
			quy này áp dụng đối với Bạn tham gia Chương trình học
			trực tuyến.</p>
		<h3>II.
			QUY ĐỊNH:</h3>
		<h4>
			<ol>
				<li>
					<p>Đăng ký tài khoản học tập</p>
			</ol>
		</h4>
		<p>Bạn đăng ký tài khoản học
			tập qua địa chỉ: <a
				href="https://hocbaionha.com/login/signup.php">https://hocbaionha.com/login/signup.php</a>
		</p>
		<p>Bạn sử dụng tài khoản đã
			đăng ký, đăng nhập vào hệ thống và bắt đầu học
			tập.
		</p>
		<p>Trong trường hợp quên mật
			khẩu, Bạn có thể chủ động lấy lại mật khẩu ở
			mục “Forgot Password” (“Quên mật khẩu”) tại:
			<a
				href="https://hocbaionha.com/login/forgot_password.php">https://hocbaionha.com/login/forgot_password.php</a>
		</p>
		<p>Bạn có thể lấy lại mật
			khẩu qua email đã đăng ký tài khoản.</p>
		<h4>
			<ol start="2">
				<li>
					<p>Bảo mật tài khoản</p>
			</ol>
		</h4>
		<p>Mỗi tài khoản học tập
			chỉ được truy cập vào HOCBAIONHA trên 1 thiết bị (máy
			tính hoặc điện thoại) tại một thời điểm.
		</p>
		<p>Mỗi tài khoản học tập có
			thông tin cá nhân và khóa học mà Bạn đã đăng ký được
			hệ thống thiết lập đánh giá năng lực và ghi nhận kết
			quả học tập. Do đó, để đảm bảo sự tiến bộ và
			chất lượng học tập của Bạn, trong quá trình sử dụng
			dịch vụ tại HOCBAIONHA, Bạn cần có trách nhiệm với
			tài khoản học tập của mình trong mọi trường hợp:</p>
		<p>- Không tạo điều kiện
			và/hoặc cho phép bất kỳ người thứ ba ngoài Bạn sử
			dụng hoặc/và cùng sử dụng tài khoản học tập cho bất
			kỳ mục đích nào.</p>
		<p>- Không cung cấp, rao bán,
			chuyển nhượng, tiết lộ thông tin tài khoản, mật khẩu
			cho bất kỳ cá nhân hay tổ chức nào khác khi không có sự
			cho phép trước văn bản bằng giấy tờ HOCBAIONHA, ngoại
			trừ đại diện của HOCBAIONHA khi cần phối hợp.</p>
		<p>Trong trường hợp phát hiện
			Tài khoản học tập có dấu hiệu được sử dụng bởi
			nhiều cá nhân, HOCBAIONHA có quyền xử lý theo quy định
			của HOCBAIONHA.</p>
		<p>Để tránh tình trạng lừa
			đảo, lợi dụng lòng tin, Bạn không nhận thông tin tư
			vấn từ các cá nhân, tổ chức nào khác không phải đại
			diện chính thức từ HOCBAIONHA, không rao bán tài khoản
			học tập đang sở hữu, không mua lại tài khoản của cá
			nhân khác trên các diễn đàn, mạng xã hội, hay bất kỳ
			hình thức trao đổi khác.</p>
		<p>HOCBAIONHA có quyền không
			công nhận quyền sở hữu đối với các tài khoản không
			do Chương trình chính thức mà HOCBAIONHA cung cấp; đồng
			thời có quyền yêu cầu cá nhân, tổ chức chấm dứt
			việc rao bán, tư vấn sai quy định. Nếu cá nhân, tổ
			chức tiếp tục vi phạm, HOCBAIONHA sẽ xử lý theo quy định
			của pháp luật về vi phạm bản quyền.</p>
		<h4>
			<ol start="3">
				<li>
					<p>Tranh chấp tài khoản/ vi
						phạm quy định bảo mật tài khoản</p>
			</ol>
		</h4>
		<p>Trường hợp tranh chấp tài
			khoản/ nghi ngờ vi phạm quy định bảo mật tài khoản,
			HOCBAIONHA có toàn quyền kiểm tra và xử lý theo quy định:

		</p>
		<p>Trường hợp tranh chấp tài khoản:</p>
		<ul>
			<li>
				<p>Bước 1: Khóa tài khoản
					học tập tạm thời trong vòng 30 ngày.</p>
			<li>
				<p>Bước
					2: Trong vòng 30 ngày, xác minh chủ tài khoản dựa vào
					chứng cứ sau: Thông tin cá nhân, số điện thoại đã
					xác thực khi đăng ký tài khoản, thông tin chứng minh
					việc nạp tiền và đăng ký khóa học thành công. Sau khi
					được xác minh, Bạn có thể tiếp tục học tập. Trường
					hợp tài khoản đã được HOCBAIONHA hỗ trợ lấy lại
					sau lần tranh chấp đầu tiên, chủ tài khoản cần xác
					thực số điện thoại và email để tránh tình trạng mất
					tài khoản. Nếu tiếp tục xảy ra tranh chấp lần thứ
					2, HOCBAIONHA sẽ không hỗ trợ lấy lại tài khoản.</p>
			<li>
				<p>Bước
					3: Sau 30 ngày, nếu không xác minh được Bạn là chủ tài
					khoản, HOCBAIONHA sẽ mở lại tài khoản. Tuy nhiên,
					HOCBAIONHA sẽ không hỗ trợ lấy lại tài khoản.</p>
		</ul>
		<p>Trường hợp vi phạm quy
			định bảo mật tài khoản:</p>
		<ul>
			<li>
				<p>Bước 1: Khóa tài khoản
					học tập tạm thời trong vòng 10 ngày.</p>
			<li>
				<p>Bước
					2: Trong vòng 10 ngày, HOCBAIONHA sẽ tiến hành thu thập các
					bằng chứng về việc vi phạm quy định bảo mật tài
					khoản và thông tin đến chủ tài khoản.</p>
				<ul>
					<li>
						<p>Trường
							hợp không phát hiện vi phạm, HOCBAIONHA sẽ tiến hành
							mở lại tài khoản.</p>
					<li>
						<p>Trường
							hợp phát hiện vi phạm bảo mật thông tin tài khoản
							lần 1, HOCBAIONHA sẽ khóa tài khoản cảnh cáo trong vòng
							30 ngày.</p>
					<li>
						<p>Trường
							hợp phát hiện vi phạm bảo mật thông tin tài khoản
							lần 2, HOCBAIONHA sẽ khóa tài khoản vĩnh viễn.</p>
				</ul>
		</ul>
		<h4>
			<ol start="4">
				<li>
					<p>Văn hóa ứng xử</p>
			</ol>
		</h4>
		<p>Bạn cần giữ thái độ, cử
			chỉ văn minh, lành mạnh trong quá trình sử dụng dịch vụ
			tại HOCBAIONHA.</p>
		<p>Bạn cần tuân thủ theo
			hướng dẫn và hợp tác với đại diện HOCBAIONHA trong
			các trường hợp hỗ trợ xử lý sự cố. Nếu Bạn có
			thái độ xúc phạm, không hợp tác với đại diện
			HOCBAIONHA, HOCBAIONHA có quyền từ chối yêu cầu hỗ trợ
			của Bạn.
		</p>
		<h4>
			<ol start="5">
				<li>
					<p>Cam kết đã đọc, hiểu
						và đảm bảo thực hiện các điều khoản dịch vụ tại
						HOCBAIONHA</p>
			</ol>
		</h4>
		<p>Bạn cam kết đã đọc, hiểu
			và đảm bảo thực hiện các điều khoản về chính sách
			và dịch vụ HOCBAIONHA quy định.</p>
		<p>Trong trường hợp gặp
			các sự cố không mong muốn hoặc có vấn đề cần phản
			ánh, Bạn có thể liên hệ tới fanpage <a href="https://www.facebook.com/Hocbaionha/">Hocbaionha</a>
			để được hỗ trợ.</p>
			<br/>
	</div>


	{{> theme_classon/classon_hp_footer }}

	<div style="display:none;">
		{{{ a }}}
	</div>
	{{{ output.standard_end_of_body_html }}}
    {{> theme_classon/class_facebook_chat }}
</body>

</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
M.util.js_complete('theme_boost/loader');
});
M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(mod) {
mod.init();
M.util.js_complete('theme_boost/drawer');
});
$(document).ready(function(){
// When user clicks on tab, this code will be executed
$("[role=tab]").click(function() {
// First remove class "active" from currently active tab
$("[role=tab]").removeClass('active');

// Now add class "active" to the selected/clicked tab
$(this).addClass("active");

// Hide all tab content
$("[role=tabpanel]").hide();

// Here we get the href value of the selected tab
var selected_tab = $(this).find("a").attr("href");

// Show the selected tab content
$(selected_tab).fadeIn();

// At the end, we add return false so that the click on the link is not executed
return false;
});
});
new Mmenu(document.querySelector('#menu'), {
"extensions": [
"pagedim-black"
]
});

document.addEventListener('click', function (evnt) {
var anchor = evnt.target.closest('a[href^="#/"]');
if (anchor) {
evnt.preventDefault();
}
});
{{/js}}
