{{!
    @template theme_boost/columns2
    Admin time setting template.
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="{{{ config.wwwroot }}}/theme/classon/pix/favicon.ico"/>
    <link href="{{{ config.wwwroot }}}/theme/classon/style/all.css" rel="stylesheet">
    {{!--//ios_homescreen_icons (theme class function)--}}
    {{{ output.ios_homescreen_icons}}}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {{{ output.standard_head_html }}}

    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/animate.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/lightbox.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/fonts/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/megamenu.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/dreaming-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/icons.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/classon.css"/>
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/mmenu.css"/>

    <style>
        .tippy-box {
            background: #42BCED;
            text-align: center;
            color: white;

            font-size: 14px;
            border-radius: 4px;
        }

        .tippy-arrow {
            color: #42BCED;
        }

        #course-tab {
            background-color: #F4F4F4;
        }

        p {
            margin-bottom: 0px;
        }

        hr {
            margin: 1px;
        }

        i.fa {
            top: 14px;
        }

        .furgan-socials .socials-list {
            padding-left: 0;
            list-style: none;
        }

        .furgan-socials.style-01 .social-title {
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 600;
            position: relative;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding-left: 45px;
        }

        .furgan-socials.style-01 .socials-list li {
            display: inline-block;
            height: 46px;
            margin-right: 10px;
            margin-top: 8px;
        }

        .furgan-socials.style-01 .socials-list li a {
            display: block;
            height: 46px;
            width: 46px;
            font-size: 17px;
            line-height: 48px;
            color: #fff;
            background-color: #1e1e1e;
            text-align: center;
            position: relative;
            overflow: hidden;
        }

        .furgan-socials.style-01 .socials-list li a::before {
            content: '';
            position: absolute;
            top: 100%;
            left: -1px;
            right: -1px;
            bottom: -1px;
            -webkit-transition: top 0.25s ease 0s;
            -moz-transition: top 0.25s ease 0s;
            -o-transition: top 0.25s ease 0s;
            transition: top 0.25s ease 0s;
            background-color: #9cc25d;
        }

        .furgan-socials.style-01 .socials-list li a i {
            position: relative;
        }

        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .fa-facebook-f:before, .fa-facebook:before {
            content: "";
        }

        .furgan-listitem.style-01 .title, .furgan-listitem.style-02 .title {
            margin-top: 0;
            margin-bottom: 25px;
            font-weight: 700;
            position: relative;
            padding-left: 10px;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }

        footer .furgan-listitem.style-01 li, footer .furgan-listitem.style-02 li {
            margin-bottom: 5px;
        }

        .furgan-listitem.style-01 li, .furgan-listitem.style-02 li {
            line-height: 34px;
        }

        .furgan-listitem a:not(:hover) {
            color: inherit;
        }

        .furgan-listitem li a {
            position: relative;
            display: inline-block;
        }

        .section-0281 {
            padding-top: 65px;
            padding-bottom: 55px;
            background-color: #f4f4f4;
            color: #868686;
        }

        .section-010 {
            padding-top: 10px;
            padding-bottom: 10px;
            background: #f4f4f4;
            border-top: 1px solid #ebebeb;
        }

        .availabilityinfo.isrestricted ul {
            display: none;
        }

        input.mod_quiz-redo_question_button {
            display: none;
        / / anhnn Bỏ nút làm lại trong bài quiz
        }


        #overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
        }

        #overlay:target {
            visibility: visible;
            display: block;
        }

        .close {
            cursor: pointer;
            font-size: 45px;
            color: red;
        }

        .image_event {
            margin: 0 auto;
            width: 430px;
            height: auto;
        }

        .reveal-modal {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            overflow: visible;
            max-height: 100%;
            max-width: 100%;
        }

        .popup__overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .4);
        }

        .popup__close-btn {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 2.5rem;
            height: 1.875rem;
            width: 1.875rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #5a5a5a;
            top: -.625rem;
            right: -.625rem;
            border-radius: 1.25rem;
            border: 3px solid #fff;
        }

        .svg-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            fill: currentColor;
            position: relative;
            font-size: .75rem;
            color: #fff;
        }

        .imgstyle {
            background-image: url({{{ config.wwwroot }}}/theme/classon/pix/backgrounds/phone-popup-bg2.png);
            background-color: white;
            background-size: contain;
            padding: 20px;
            height: 400px;
            width: 400px;
            border-radius: 19px;
            text-align: center;
            background-repeat: no-repeat;
        }

        .popup-text {
            color: #545454;
            font-weight: bold;
            width: 350px;
            margin: auto;
        }

        .phone {
            border: 2px solid #797979 !important;
            background-color: white !important;
            border-radius: 4px !important;
            height: 40px;
            /*font-size:12px;*/
            width: 250px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 13pt;
        }

        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }

        .send {
            width: 250px;
            border: 2px solid #797979;
            background-color: #473e9b;
            border-radius: 4px;
            height: 40px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }

        .wrap {
            padding-top: 150px;
        }

        .popup_title {
            font-size: 13px;
            color: #473e9b;
            font-weight: bold;
            text-align: left;
            margin: 0;
        }

        .wrap_title {
            font-size: 16px;
            font-weight: bold;
            color: #473e9b;
            margin: 0;
        }

        .radio-toolbar input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;
        }
        .radio-toolbar input[type="checkbox"] {
            opacity: 0;
            position: fixed;
            width: 0;
        }

        .radio-toolbar label {
            display: inline-block;
            background-color: white !important;
            color: #473e9b;
            padding: 0px 6px;
            font-family: sans-serif, Arial;
            font-size: 12px;
            border: 1px solid #473e9b;
            border-radius: 4px;
        }

        .radio-toolbar label:hover {
            background-color: #dfd;
        }

        .radio-toolbar input[type="radio"]:focus + label {
            border-color: #bc2f40;
            color: #bc2f40;
        }


        .radio-toolbar input[type="radio"]:checked + label {
            background-color: #bfb;
            border-color: #bc2f40;
            color: #bc2f40;
        }
        .radio-toolbar input[type="checkbox"]:checked + label {
            background-color: #bfb;
            border-color: #bc2f40;
            color: #bc2f40;
        }

        .custom-radio {
            display: inline-block;
            color: #473e9b;
        }

        .step2 {
            text-align: left;
            background-image: url({{{ config.wwwroot }}}/theme/classon/pix/backgrounds/phone-popup-bg-1.png);
            background-color: white;
            background-size: contain;
            padding: 20px;
            height: 400px;
            width: 400px;
            border-radius: 25px;
            text-align: center;
            background-repeat: no-repeat;
        }

        #complete_survey {
            width: 100px;
            text-align: center !important;
            line-height: unset;
        }

        .modal_title {
            font-weight: bold;
            color: #473e9b;
            font-size: 16px;
            font-family: sans-serif, Arial;
        }

        .text_label {
            color: black;
            font-size: 13px;
        }

        .survey_form {
            padding-top: 10px;
            text-align: left;
        }

        .col-md-3 {
            width: 25%;
            padding: 0px !important;
        }

        .col-md-9 {
            width: 75%;
            padding: 0px !important;
        }

        .row {
            margin: 0px;
        }

        @media only screen and (max-width: 600px) {
            .imgstyle {
                width: 360px;
                height: 360px;
            }

            .step2 {
                width: 360px;
                height: 360px;
            }

            .popup_title {
                font-size: 12px;
            }

            .modal_title {
                font-size: 14px;
            }

            .wrap {
                padding-top: 125px;
            }

            .wrap_title {
                font-size: 14px;
            }

            .phone {
                border: 2px solid #797979;
                background-color: #EFEFEF;
                border-radius: 4px;
                height: 40px;
                /*font-size:12px;*/
                width: 200px;
                margin: 6px;
                text-align: center;
                font-size: 10pt;
            }

            .send {
                width: 200px;
                border: 2px solid #797979;
                background-color: #473e9b;
                border-radius: 4px;
                height: 40px;
                color: #fff;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
            }

            .col-md-3 {
                width: 25%;
                padding: 0px !important;
            }

            .col-md-9 {
                width: 75%;
                padding: 0px !important;
            }

            .row {
                margin: 0px;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body onload="checkCookiePopup()" {{{ bodyattributes }}}>
{{#popup_event}}
    <div id="overlay" style="display: none">
        <div class="popup__overlay"></div>
        <div class="reveal-modal">
            <H2 style="color: white;text-align:center;">
            </H2>
            {{#image}}
                {{#link}}<a href="{{link}}"><img class="image_event" src="{{{ config.wwwroot }}}/local/school/image.php?filename={{image}}"></a>{{/link}}
                {{^link}}<img class="image_event" src="{{{ config.wwwroot }}}/local/school/image.php?filename={{image}}">{{/link}}
            {{/image}}
            <div class="count_down" id="count_down">
                <p class="event_time" id="event_time_days"></p>
                <p class="event_time" id="event_time_hours"></p>
                <p class="event_time" id="event_time_minutes"></p>
                <p class="event_time" id="event_time_seconds"></p>
            </div>
            <div class="popup__close-btn" onclick="off()"><svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="svg-icon "><path d="m10.7 9.2-3.8-3.8 3.8-3.7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-3.8 3.7-3.8-3.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3.8 3.7-3.8 3.8c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3l3.8-3.8 3.8 3.8c.2.2.4.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4z"></path></svg></div>
            {{#expitime}}
                <input type="hidden" value="{{expitime}}" id="expitime">
            {{/expitime}}
        </div>
    </div>
{{/popup_event}}

{{#showpopup}}
    <div id="overlay">
        <div class="popup__overlay"></div>
        <div class="reveal-modal">
            <div class="imgstyle">
                <div class="wrap">
                    <p class="wrap_title">Vui lòng nhập SỐ ĐIỆN THOẠI của bạn để:</p>
                    <p class="popup_title">-Nhận được sự hỗ trợ nhanh chóng khi tài khoản của bạn có vấn đề</p>
                    <p class="popup_title">-Dễ dàng khôi phục mật khẩu</p>
                    <p class="popup_title">-Nhận thông báo kịp thời về các hoạt động của Hbon Club</p>
                    <form id="form_update_phone" action="" method="post">
                        <input class="phone" type="tel" name="phone" placeholder="Nhập số điện thoại của bạn"
                               pattern="(\+84|0){1}(9|8|7|5|3){1}[0-9]{8}"
                               oninvalid="this.setCustomValidity('Vui lòng nhập đúng số điện thoại.')"
                               oninput="this.setCustomValidity('')" id="phone" required/>
                        <input type="hidden" id="wanturl" name="wanturl" value="{{{wanturl}}}"/>
                        <button class="send" id="add_phone">THÊM</button>
                    </form>
                </div>
            </div>
            <div class="step2" style="display: none">
                <div class="modal_title">
                    Hãy cho Hocbaionha biết mối quan tâm của bạn để chúng tôi đưa ra chương trình cũng như gửi các thông
                    báo thật sự phù hợp với cá nhân bạn! Xin cảm ơn.
                </div>
                <hr>
                <form class="survey_form">
                    <div class="row">
                        <label class="col-md-3 text_label">Bạn là</label>
                        <div class="radio-toolbar col-md-9">
                            <input type="radio" id="radioOHS" name="object" value="1" checked>
                            <label class="custom-radio" for="radioOHS">Học sinh</label>
                            <input type="radio" id="radioOGV" name="object" value="2">
                            <label class="custom-radio" for="radioOGV">Giáo Viên</label>
                            <input type="radio" id="radioOPH" name="object" value="3">
                            <label class="custom-radio" for="radioOPH">Phụ Huynh</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 text_label">Lớp</label>
                        <div class="radio-toolbar col-md-9" id="cb_class">
                            <input type="checkbox" id="radioC6" name="class" value="6">
                            <label class="custom-radio" for="radioC6">Lớp 6</label>
                            <input type="checkbox" id="radioC7" name="class" value="7">
                            <label class="custom-radio" for="radioC7">Lớp 7</label>
                            <input type="checkbox" id="radioC8" name="class" value="8">
                            <label class="custom-radio" for="radioC8">Lớp 8</label>
                            <input type="checkbox" id="radioC9" name="class" value="9">
                            <label class="custom-radio" for="radioC9">Lớp 9</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 text_label">Môn học</label>
                        <div class="radio-toolbar col-md-9" id="cb_subject">
                            <input type="checkbox" id="radioST" name="subject" value="1" >
                            <label class="custom-radio" for="radioST">Toán</label>
                            <input type="checkbox" id="radioSV" name="subject" value="2">
                            <label class="custom-radio" for="radioSV">Văn</label>
                            <input type="checkbox" id="radioSTA" name="subject" value="3">
                            <label class="custom-radio" for="radioSTA">Tiếng Anh</label>
                            <input type="checkbox" id="radioSTO" name="subject" value="4">
                            <label class="custom-radio" for="radioSTO">Môn khác</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 text_label">Độ khó</label>
                        <div class="radio-toolbar col-md-9" id="cb_level">
                            <input type="checkbox" id="radioLB" name="level" value="1" >
                            <label class="custom-radio" for="radioLB">Cơ bản</label>
                            <input type="checkbox" id="radioLA" name="level" value="2">
                            <label class="custom-radio" for="radioLA">Nâng cao</label>
                        </div>
                    </div>
                </form>
                <br>
                <button class="send" id="complete_survey">GỬI</button>
            </div>
        </div>
    </div>
{{/showpopup}}
{{#showsurvey}}
    <div id="overlay">
        <div class="popup__overlay"></div>
        <div class="reveal-modal">
            <div class="step2">
                <div class="modal_title">
                    Hãy cho Hocbaionha biết mối quan tâm của bạn để chúng tôi đưa ra chương trình cũng như gửi các thông
                    báo thật sự phù hợp với cá nhân bạn! Xin cảm ơn.
                </div>
                <hr>
                <form class="survey_form">
                    <div class="row">
                        <label class="col-md-3 text_label">Bạn là</label>
                        <div class="radio-toolbar col-md-9">
                            <input type="radio" id="radioOHS" name="object" value="1" checked>
                            <label class="custom-radio" for="radioOHS">Học sinh</label>
                            <input type="radio" id="radioOGV" name="object" value="2">
                            <label class="custom-radio" for="radioOGV">Giáo Viên</label>
                            <input type="radio" id="radioOPH" name="object" value="3">
                            <label class="custom-radio" for="radioOPH">Phụ Huynh</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 text_label">Lớp</label>
                        <div class="radio-toolbar col-md-9" id="cb_class">
                            <input type="checkbox" id="radioC6" name="class" value="6" >
                            <label class="custom-radio" for="radioC6">Lớp 6</label>
                            <input type="checkbox" id="radioC7" name="class" value="7">
                            <label class="custom-radio" for="radioC7">Lớp 7</label>
                            <input type="checkbox" id="radioC8" name="class" value="8">
                            <label class="custom-radio" for="radioC8">Lớp 8</label>
                            <input type="checkbox" id="radioC9" name="class" value="9">
                            <label class="custom-radio" for="radioC9">Lớp 9</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 text_label">Môn học</label>
                        <div class="radio-toolbar col-md-9" id="cb_subject">
                            <input type="checkbox" id="radioST" name="subject" value="1" >
                            <label class="custom-radio" for="radioST">Toán</label>
                            <input type="checkbox" id="radioSV" name="subject" value="2">
                            <label class="custom-radio" for="radioSV">Văn</label>
                            <input type="checkbox" id="radioSTA" name="subject" value="3">
                            <label class="custom-radio" for="radioSTA">Tiếng Anh</label>
                            <input type="checkbox" id="radioSTO" name="subject" value="4">
                            <label class="custom-radio" for="radioSTO">Môn khác</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 text_label">Chương trình</label>
                        <div class="radio-toolbar col-md-9" id="cb_level">
                            <input type="checkbox" id="radioLB" name="level" value="1" >
                            <label class="custom-radio" for="radioLB">Cơ bản</label>
                            <input type="checkbox" id="radioLA" name="level" value="2">
                            <label class="custom-radio" for="radioLA">Nâng cao</label>
                        </div>
                    </div>
                </form>
                <br>
                <button class="send" id="complete_survey">GỬI</button>
            </div>
        </div>
    </div>
{{/showsurvey}}
<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    ...
</div>
{{{ output.standard_top_of_body_html }}}
{{> theme_classon/classon_hp_header }}
{{> theme_classon/classon_page_header }}
{{> theme_classon/classon_courses_section_01 }}
{{> theme_classon/classon_hp_footer }}

<div style="display:none;">
    {{{ a }}}
</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
{{{ output.standard_end_of_body_html }}}
{{> theme_classon/class_facebook_chat }}
</body>
{{#js}}
    M.util.js_pending('theme_boost/loader');
    require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
    });
    M.util.js_pending('theme_boost/drawer');
    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    M.util.js_complete('theme_boost/drawer');
    });
    $(document).ready(function(){
    // When user clicks on tab, this code will be executed
    $("[role=tab]").click(function() {
    // First remove class "active" from currently active tab
    $("[role=tab]").removeClass('active');

    // Now add class "active" to the selected/clicked tab
    $(this).addClass("active");

    // Hide all tab content
    $("[role=tabpanel]").hide();

    // Here we get the href value of the selected tab
    var selected_tab = $(this).find("a").attr("href");

    // Show the selected tab content
    $(selected_tab).fadeIn();

    // At the end, we add return false so that the click on the link is not executed
    return false;
    });
    });
    new Mmenu(document.querySelector('#menu'), {
    "extensions": [
    "pagedim-black"
    ]
    });

    document.addEventListener('click', function (evnt) {
    var anchor = evnt.target.closest('a[href^="#/"]');
    if (anchor) {
    evnt.preventDefault();
    }
    });

    // Add smooth scrolling to all links
    $(".nav-link").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
    // Prevent default anchor click behavior
    event.preventDefault();
    var hash = this.hash;
    $('html, body').animate({
    scrollTop: $(hash).offset().top
    }, 800, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
    window.location.hash = hash;
    });
    } // End if
    });
    window.onscroll = function() {
    scrollLineTab();
    var x = window.matchMedia("(min-width: 768px)");
    if (x.matches) {
    scrollTHCSSidebar();
    }
    };

    // Get the header
    var header = document.getElementById("course-tab");

    // Get the offset position of the navbar
    var sticky = header.offsetTop-20;
    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function scrollLineTab() {
    if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
    } else {
    header.classList.remove("sticky");
    }
    }
    var thcsSide = document.getElementById("thcs-sidebar");
    var thcsTop = 288;
    var isShow=true;
    var duration=1500;
    function scrollTHCSSidebar(){
    /* if (window.pageYOffset > thcsTop) {
    thcsSide.classList.add("sticky");
    } else {
    thcsSide.classList.remove("sticky");
    }
    if( window.pageYOffset > 1060){
    thcsSide.classList.remove("sticky");
    }
    if (window.pageYOffset> 1060){
    if(!isShow){
    $(".card-ltv10").animate({
    opacity: '1'
    },duration);
    $(".card-thcs").animate({
    opacity: '0'
    },duration);
    isShow=true;
    }
    } else {
    if(isShow){
    $(".card-ltv10").animate({
    opacity: '0',
    },duration);
    $(".card-thcs").animate({
    opacity: '1'
    },duration);
    isShow=false;
    }
    }
    */
    }
    tippy('[data-tippy-content]', {
    duration: [300, 500],
    placement: 'left',
    maxWidth: 200,
    arrow: true,
    onMount(instance) {
    const box = instance.popper.firstElementChild;
    requestAnimationFrame(() => {
    box.classList.add('backInUp');
    });
    },
    onHidden(instance) {
    const box = instance.popper.firstElementChild;
    box.classList.remove('backInUp');
    },
    popperOptions: {
    strategy: 'fixed',
    modifiers: [
    {
    name: 'flip',
    options: {
    fallbackPlacements: ['bottom', 'right'],
    },
    },
    {
    name: 'preventOverflow',
    options: {
    altAxis: true,
    tether: false,
    },
    },
    ],
    },
    });


    $("#form_update_phone").submit(function(event){
    event.preventDefault();
    var phone = $('#phone').val();
    var wanturl = $('#wanturl').val();
    var send_data = {"phone":phone,"wanturl":wanturl};
    $.ajax({
    url: "/local/sm/course_popup.php",
    type: 'POST',
    data: send_data,
    dataType: "json",
    success: function (res, textStatus, jqXHR) {

    if(res.status ==="success"){
console.log(res);
    $('.imgstyle').css("display", "none");
    $('.step2').css("display", "block");

    }else{
    swal.fire({
    position: 'center',
    icon: 'error',
    title: 'Cập nhật thất bại',
    showConfirmButton: false,
    timer: 2000
    });
    }
    },
    error: function (jqXHR, textStatus, errorThrown) {}
    });
    });


    $('#complete_survey').on('click',function(event){
    event.preventDefault();
    var object = $('input[name="object"]:checked').val();
    var classes = [];
    $('input[name="class"]:checked').each(function(){classes.push($(this).val());});
    var subject = [];
    $('input[name="subject"]:checked').each(function(){subject.push($(this).val());});
    var level = [];
    $('input[name="level"]:checked').each(function(){level.push($(this).val());});
    var send_data = {"object":object,"class":classes.toString(),"subject":subject.toString(),"level":level.toString()};
    if(classes.length<=0 || subject.length<=0 || level.length<=0){
    var message = '';
    if(classes.length==0){
    message += " Lớp "
    }
    if(subject.length==0){
    message += " Môn "
    }
    if(level.length==0){
    message += " Chương trình "
    }
    swal.fire({
    position: 'center',
    icon: 'warning',
    title: 'Chọn thiếu thông tin:' + message,
    showConfirmButton: false,
    timer: 3000
    });
    }else{
    $.ajax({
    url: "/local/sm/complete_survey.php",
    type: 'POST',
    data: send_data,
    dataType: "json",
    success: function (res, textStatus, jqXHR) {
    if(res.status ==="success"){
    swal.fire({
    position: 'center',
    icon: 'success',
    title: 'Cập nhật thành công',
    showConfirmButton: false,
    timer: 2000
    }).then((result)=>{
    $('#overlay').css("display", "none");
    });
    }else{
    swal.fire({
    position: 'center',
    icon: 'error',
    title: 'Cập nhật thất bại',
    showConfirmButton: false,
    timer: 2000
    });
    }
    },
    error: function (jqXHR, textStatus, errorThrown) {}
    });
    }
    });
{{/js}}
<script>


</script>
</html>
