<div class="fullwidth-template">
    {{> theme_classon/classon_hp_body_slider }}
    {{> theme_classon/classon_hp_body_section_01 }}
    {{> theme_classon/classon_hp_body_section_02 }}
    {{> theme_classon/classon_hp_body_section_03 }}
    {{> theme_classon/classon_hp_body_section_04 }}
</div>
