{{!
    @template theme_boost/columns2

    Admin time setting template.


}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="{{{ config.wwwroot }}}/theme/classon/pix/favicon.ico" />
<link href="{{{ config.wwwroot }}}/theme/classon/style/all.css" rel="stylesheet">
    {{!--//ios_homescreen_icons (theme class function)--}}
    {{{ output.ios_homescreen_icons}}}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {{{ output.standard_head_html }}}

<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/animate.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/chosen.min.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/jquery.scrollbar.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/lightbox.min.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/magnific-popup.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/fonts/flaticon.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/megamenu.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/dreaming-attribute.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/icons.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/style.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/classon.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/my-style.css"/>
<link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/classon/style/mmenu.css"/>
</head>
<body {{{ bodyattributes }}}>
{{{ output.standard_top_of_body_html }}}

{{> theme_classon/classon_hp_header }}

<div class="container">

<h1>PRIVACY
(CHÍNH SÁCH BẢO MẬT)</h1>
<h4>Chào mừng Bạn đến với
Chính sách bảo mật của </h4>
<p>
Chính sách Bảo mật này là
một phần không thể tách rời với điều kiện sử dụng
trang web của <a href="hocbaionha.com">hocbaionha.com</a>
và công bố cách thức mà Công
ty TNHH Công nghệ và Giáo dục Đông Phương
thu thập, lưu trữ và xử lý thông tin hoặc dữ liệu cá
nhân (“Thông tin cá nhân”) của các thành viên sử dụng
website của HOCBAIONHA <a href="hocbaionha.com">https://hocbaionha.com</a> (“Bạn”)
HOCBAIONHA cam kết sẽ bảo mật các Thông tin cá nhân của
Bạn, sẽ nỗ lực hết sức và sử dụng các biện pháp
thích hợp để các thông tin mà Bạn cung cấp cho
HOCBAIONHA trong quá trình sử dụng website này được bảo
mật và bảo vệ khỏi sự truy cập trái phép. Tuy nhiên,
HOCBAIONHA không đảm bảo ngăn chặn được tất cả các
truy cập trái phép.
</p>
<h4>Chính sách bảo mật riêng
tư của HOCBAIONHA</h4>
<p >Khi Bạn chia sẻ thông tin
với HOCBAIONHA, ví dụ như bằng cách tạo Tài
khoản HOCBAIONHA,
HOCBAIONHA có thể làm cho các sản phẩm, dịch vụ đó trở
nên tốt hơn nữa, để cung cấp cho Bạn nhiều sản phẩm,
dịch vụ tiện ích hơn. Khi Bạn sử dụng sản phẩm,
dịch vụ của HOCBAIONHA, HOCBAIONHA muốn Bạn biết rõ cách
HOCBAIONHA đang sử dụng thông tin và cách Bạn có thể bảo
vệ sự riêng tư của mình.
</p>
<p> Chính sách của HOCBAIONHA về
bảo mật thông tin bao gồm:</p>
<ul>
	<li><p>Loại thông tin HOCBAIONHA thu
	thập và lý do thu thập.</p></li>
	<li><p>Cách
	HOCBAIONHA sử dụng thông tin đó.</p></li>
	<li><p>Các
	lựa chọn mà HOCBAIONHA cung cấp, bao gồm cả cách truy
	cập và cập nhật thông tin.</p></li>
</ul>
<p>HOCBAIONHA cố gắng trình bày
một cách đơn giản nhất có thể. Tuy nhiên, nếu Bạn
không quen thuộc với các thuật ngữ như cookie, địa chỉ
IP và trình duyệt, thì hãy tham khảo phụ lục về các
thuật ngữ chính trước. Sự riêng tư của Bạn quan trọng
đối với HOCBAIONHA. Vì vậy, cho dù Bạn là người mới
sử dụng hay người đã sử dụng lâu rồi, vui lòng dành
thời gian để tìm hiểu về chính sách bảo mật. Và nếu
Bạn có bất kỳ câu hỏi nào, hãy <a href = "https://www.facebook.com/Hocbaionha/">liên
hệ với HOCBAIONHA</a></p>
<h2><ol>
	<li>Thông
	tin HOCBAIONHA thu thập.
</ol></h2>
<p >HOCBAIONHA thu thập thông tin
nhằm cung cấp sản phẩm, dịch vụ tốt hơn cho các Bạn,
từ việc tìm hiểu những thông tin cơ bản như thông tin
cá nhân: họ và tên, giới tính, ngày sinh; Thông tin liên
lạc: số điện thoại, địa chỉ gửi thư, địa chỉ
email; Thông tin về thanh toán: thông tin chuyển khoản, mã
số thẻ cào; hay các thông tin cá nhân được tự động
tạo ra khi Bạn sử dụng website như: thông tin IP, cookies,
đăng nhập website...
</p>
<p>HOCBAIONHA thu thập thông tin
theo các cách sau:</p>
<ul>
	<li><p>Thông tin mà Bạn cung cấp
	cho HOCBAIONHA. Ví dụ: Khi Bạn đăng ký tài khoản,
	HOCBAIONHA sẽ yêu cầu các thông tin cá nhân, như tên, địa
	chỉ email, số điện thoại, địa chỉ gửi thư của Bạn
	để lưu trữ với tài khoản của Bạn. </p>
	<li><p >Thông
	tin HOCBAIONHA thu thập từ quá trình Bạn sử dụng sản
	phẩm, dịch vụ của HOCBAIONHA. HOCBAIONHA thu thập thông
	tin về các sản phẩm, dịch vụ mà Bạn sử dụng và
	cách sử dụng của Bạn, chẳng hạn như khi Bạn sử
	dụng sản phẩm, dịch vụ trên trang web của HOCBAIONHA,
	truy cập blog, diễn đàn của HOCBAIONHA; tương tác với
	các nội dung trên fanpage của HOCBAIONHA. Thông tin này bao
	gồm:
	</p>
	<ul>
		<li><p>Thông
		tin thiết bị.</p>
		<li><p >Thông
		tin nhật ký, bao gồm:
		</p>
		<ul>
			<li><p>Các
			chi tiết về cách Bạn sử dụng sản phẩm, dịch vụ
			của HOCBAIONHA chẳng hạn như lịch sử xem video bài
			giảng của Bạn.
			</p>
			<li><p>Thông
			tin sự cố thiết bị như lỗi, hoạt động của hệ
			thống, cài đặt phần cứng, loại trình duyệt, ngôn
			ngữ trình duyệt, ngày và thời gian Bạn yêu cầu và
			URL giới thiệu.
			</p>
		</ul>
		<li><p>Thông
		tin vị trí:
		</p>
		<ul>
			<li><p >Ứng
			dụng HOCBAIONHA có thể lưu trữ thông tin về cài đặt
			của Bạn (ví dụ: loại hệ điều hành hay thời gian
			sử dụng) có thể được gửi tới HOCBAIONHA khi Bạn
			cài đặt hoặc gỡ cài đặt ứng dụng của HOCBAIONHA
			hoặc khi sản phẩm, dịch vụ đó định kỳ liên hệ
			với máy chủ của HOCBAIONHA, chẳng hạn như để lấy
			bản cập nhật tự động.</p>
			<li><p>Cookie
			và các công nghệ tương tự: HOCBAIONHA sử dụng nhiều
			loại công nghệ để thu thập và lưu trữ thông tin khi
			Bạn truy cập vào các sản phẩm, dịch vụ của
			HOCBAIONHA. Quá trình này có thể bao gồm việc sử dụng
			cookie hoặc các công nghệ tương tự để xác định
			trình duyệt hoặc thiết bị của Bạn. HOCBAIONHA cũng
			sử dụng các công nghệ này để thu thập và lưu trữ
			thông tin khi Bạn tương tác với các dịch vụ
			HOCBAIONHA cung cấp. Cookie không thể đọc thông tin trên
			ổ cứng của Bạn hay thông tin của các cookie được
			gửi đến bởi các trang Web khác. Cookie vô hại với hệ
			thống của Bạn. Bạn cũng có thể chọn từ chối tất
			cả các cookie được gửi đến. Nếu Bạn chọn như
			vậy có thể một số tính năng của HOCBAIONHA cũng như
			các website khác, sẽ không hoạt động tốt.</p>
		</ul>
	</ul>
</ul>
<p>Thông tin HOCBAIONHA thu thập
khi Bạn đã đăng nhập vào HOCBAIONHA, ngoài các thông tin
HOCBAIONHA có được về Bạn từ các đối tác, có thể
được liên kết với Tài khoản HOCBAIONHA của Bạn. Khi
thông tin được liên kết với Tài khoản HOCBAIONHA của
Bạn, HOCBAIONHA sẽ xử lý thông tin đó như thông tin cá
nhân.
</p>
<h2><ol start="2">
	<li>Cách
	HOCBAIONHA sử dụng thông tin thu thập được
</ol></h2>
<p >HOCBAIONHA sử dụng thông tin
thu thập từ tất cả các sản phẩm, dịch vụ của mình
để cung cấp, duy trì, bảo vệ và cải thiện các sản
phẩm, dịch vụ; nhằm phát triển các sản phẩm, dịch
vụ mới và bảo vệ HOCBAIONHA và thành viên của mình.
HOCBAIONHA cũng sử dụng thông tin này nhằm cung cấp cho
Bạn nội dung phù hợp – như cung cấp cho Bạn các thông
tin về sản phẩm, dịch vụ liên quan hơn.
</p>
<p >Nếu Bạn có Tài khoản
HOCBAIONHA, HOCBAIONHA có thể hiển thị tên hồ sơ, ảnh hồ
sơ của Bạn và những hành động Bạn thực hiện trên
HOCBAIONHA hoặc trên ứng dụng của bên thứ ba được kết
nối với Tài khoản HOCBAIONHA của Bạn trong sản phẩm,
dịch vụ của HOCBAIONHA. HOCBAIONHA tôn trọng các lựa chọn
mà Bạn đưa ra để a href="https://hocbaionha.com/user/profile.php" target="_blank">giới
hạn cài đặt hiển thị</a>
trong Tài khoản HOCBAIONHA của Bạn.</p>
<p>Khi Bạn liên hệ với
HOCBAIONHA, HOCBAIONHA ghi lại nội dung giao tiếp của Bạn
nhằm giúp giải quyết mọi vấn đề mà Bạn có thể
đang gặp phải. HOCBAIONHA có thể sử dụng địa chỉ
email, Số điện thoại của Bạn để thông báo cho Bạn
biết về sản phẩm, dịch vụ của HOCBAIONHA, chẳng hạn
như cho Bạn biết về các thay đổi hoặc cải tiến sắp
tới.
</p>
<p>HOCBAIONHA sử dụng thông tin
đã thu thập được từ các cookie và công nghệ khác nhằm
cải thiện trải nghiệm người dùng và chất lượng
chung của các sản phẩm, dịch vụ của HOCBAIONHA.
</p>
<p>HOCBAIONHA sẽ đề nghị Bạn
đưa ra sự đồng ý trước khi sử dụng thông tin cho một
mục đích nào đó khác với các mục đích được nêu
trong Chính sách về sự riêng tư này.</p>
<h2><ol start="3">
	<li>Tính
	minh bạch và sự lựa chọn
</ol></h2>
<p>Mọi người đều có những
sự quan ngại khác nhau về sự riêng tư. Mục tiêu của
HOCBAIONHA là phải rõ ràng về những thông tin HOCBAIONHA
thu thập để Bạn có thể đưa ra các lựa chọn có ý
nghĩa về cách thông tin được sử dụng. Ví dụ: Bạn có
thể:
</p>
<ul>
	<li><p>
	<a href="https://hocbaionha.com/user/profile.php" target="_blank">Điều
	chỉnh</a>
	hiển thị Hồ sơ của Bạn với người khác.</p>
	<li><p>Bạn
	cũng có thể đặt trình duyệt của Bạn chặn tất cả
	cookie, kể cả cookie được liên kết với các sản phẩm,
	dịch vụ của HOCBAIONHA hoặc để cho biết thời điểm
	cookie đang được HOCBAIONHA đặt. Tuy nhiên, điều quan
	trọng cần phải ghi nhớ là nhiều sản phẩm, dịch vụ
	của HOCBAIONHA có thể không hoạt động bình thường nếu
	cookie của Bạn bị tắt.
	</p>
</ul>
<h2><ol start="4">
	<li>Truy cập và cập nhật thông tin cá nhân của Bạn
</ol></h2>
<p >Bất cứ khi nào Bạn sử
dụng sản phẩm, dịch vụ của HOCBAIONHA, HOCBAIONHA cố
gắng cung cấp cho Bạn quyền truy cập thông tin cá nhân
của Bạn. Nếu thông tin đó không đúng, HOCBAIONHA cố
gắng cung cấp cho Bạn các cách để cập nhật nhanh chóng
hoặc xóa thông tin đó – trừ khi HOCBAIONHA phải giữ
thông tin đó cho mục đích pháp lý hoặc kinh doanh hợp
pháp. Khi cập nhật thông tin cá nhân của Bạn, HOCBAIONHA
có thể yêu cầu Bạn xác minh danh tính của mình trước
khi HOCBAIONHA xử lý yêu cầu của Bạn.
</p>
<p>Trong trường hợp HOCBAIONHA
có thể cung cấp quyền truy cập và chỉnh sửa thông tin,
HOCBAIONHA sẽ làm như vậy miễn phí, trừ khi việc đó
đòi hỏi sự nỗ lực không tương xứng. HOCBAIONHA cố
gắng duy trì các sản phẩm, dịch vụ của mình theo cách
bảo vệ thông tin không bị phá hoại do vô tình hay cố
ý. Do vậy, sau khi Bạn xóa thông tin cá nhân của Bạn,
HOCBAIONHA có thể không xóa ngay khỏi máy chủ của mình
và có thể không xóa thông tin khỏi hệ thống sao lưu của
HOCBAIONHA.
</p>
<h2><ol start="5">
	<li>Thông
	tin HOCBAIONHA chia sẻ
</ol></h2>
<p>HOCBAIONHA không chia sẻ thông
tin cá nhân với công ty, tổ chức và cá nhân bên ngoài
HOCBAIONHA ngoại trừ 2 trường hợp:
</p>
<ul>
	<li><p >Vì lý do pháp lý: HOCBAIONHA
	sẽ chia sẻ thông tin cá nhân với các công ty, tổ chức
	hoặc cá nhân bên ngoài nếu HOCBAIONHA tin rằng việc truy
	cập, sử dụng, bảo toàn hoặc tiết lộ thông tin đó
	là cần thiết một cách hợp lý để:
	</p>
	<ul>
		<li><p>Đáp
		ứng bất kỳ luật pháp, quy định, quy trình pháp lý
		hiện hành nào hoặc yêu cầu có thể cưỡng chế thi
		hành của chính quyền.
		</p>
		<li><p>Thực
		thi Điều khoản sản phẩm, dịch vụ được áp dụng,
		kể cả việc điều tra những vi phạm tiềm tàng.
		</p>
		<li><p>Phát
		hiện, ngăn ngừa hoặc theo cách khác xử lý các vấn đề
		về gian lận, an ninh hoặc kỹ thuật.
		</p>
		<li><p>Bảo
		vệ các quyền, tài sản hoặc sự an toàn của
		HOCBAIONHA, người dùng của HOCBAIONHA hoặc công chúng
		không bị tổn hại khi cần thiết hoặc được cho phép
		bởi luật pháp.
		</p>
	</ul>
	<li><p>Có
	sự đồng ý của Khách hàng: HOCBAIONHA sẽ chia sẻ thông
	tin cá nhân với công ty, tổ chức hoặc cá nhân bên
	ngoài HOCBAIONHA khi có sự đồng ý của Bạn, việc chia
	sẻ này chỉ nhằm mục đích nghiên cứu và đưa ra các
	sản phẩm và dịch vụ tốt hơn tới từng khách hàng.
	Nếu bạn không muốn chia sẻ những thông tin trên, hãy
	liên hệ với chúng tôi.
	</p>
</ul>
<h2><ol start="6">
	<li>An
	ninh thông tin
</ol></h2>
<p>HOCBAIONHA nỗ lực làm việc
để bảo vệ HOCBAIONHA và người dùng của mình không bị
truy cập trái phép, sửa đổi trái phép, tiết lộ hoặc
phá hoại thông tin mà HOCBAIONHA nắm giữ. Cụ thể:
</p>
<ol>
	<li><p>
	HOCBAIONHA thu thập, lưu trữ
	và xử lý thông tin của mình kể cả biện pháp an ninh
	vật chất nhằm bảo vệ chống truy cập trái phép vào
	hệ thống.
	</p>
	<li><p>HOCBAIONHA
	chỉ cho phép nhân viên và người đại diện của
	HOCBAIONHA truy cập thông tin cá nhân vì họ là những
	người cần biết thông tin này để xử lý các thông tin
	đó cho HOCBAIONHA và họ phải chịu sự chi phối của
	nghĩa vụ bảo mật nghiêm ngặt trong hợp đồng và có
	thể bị kỷ luật hoặc chấm dứt hợp đồng nếu họ
	không tuân theo các nghĩa vụ đó.
	</p>
</ol>
<h2><ol start="7">
	<li>Các
	thay đổi
</ol></h2>
<p>Chính sách của HOCBAIONHA về
sự riêng tư có thể thay đổi trong từng thời điểm.
HOCBAIONHA sẽ đăng bất kỳ thay đổi nào đối với chính
sách về sự riêng tư trên trang này và thông báo nổi bật
với những thay đổi quan trọng.
</p>
<p >HOCBAIONHA giữ riêng tư và
an toàn cho thông tin cá nhân của Bạn — đồng thời, Bạn
nắm quyền kiểm soát.
</p>
<br/>
<p ><b>Phụ lục: Các thuật ngữ
chính</b></p>
<ul>
	<li><p>Cookie và các công nghệ
	tương tự: Cookie là một tệp nhỏ chứa một chuỗi các
	ký tự được gửi tới máy tính của Bạn khi Bạn truy
	cập một trang web. Khi Bạn truy cập lại trang web, cookie
	cho phép trang web đó nhận dạng trình duyệt của Bạn.
	Cookie có thể lưu trữ tùy chọn của người dùng và các
	thông tin khác. Bạn có thể đặt lại trình duyệt thành
	từ chối tất cả cookie hoặc cho biết thời điểm gửi
	cookie. Tuy nhiên, một số tính năng hoặc sản phẩm, dịch
	vụ của trang web có thể không hoạt động đúng cách
	nếu không có cookie.
	</p>
	<li><p>Thiết
	bị: là một máy tính có thể dùng để truy cập các sản
	phẩm, dịch vụ của Google. Ví dụ: thiết bị có thể
	là máy tính để Bạn, máy tính Bảng hay điện thoại
	thông minh.
	</p>
	<li><p>Địa
	chỉ IP: Mọi thiết bị kết nối Internet được gán một
	số gọi là địa chỉ giao thức Internet (IP). Các số này
	thường được gán theo nhóm địa lý. Địa chỉ IP có
	thể thường được sử dụng để xác định vị trí mà
	một thiết bị đang kết nối Internet từ đó.</p>
	<li><p>Bộ
	nhớ cache dữ liệu của ứng dụng: là một kho lưu trữ
	trên thiết bị. Bộ nhớ này có thể, chẳng hạn, cho
	phép ứng dụng web chạy mà không cần kết nối internet
	và cải thiện hiệu suất của ứng dụng Bạng cách cho
	phép tải nội dung nhanh hơn.</p>
</ul>
<p><br/></p>
</div>

{{> theme_classon/classon_hp_footer }}

<div style="display:none;">
{{{ a }}}
</div>
{{{ output.standard_end_of_body_html }}}
</body>
</html>
{{#js}}
    M.util.js_pending('theme_boost/loader');
    require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
    });
    M.util.js_pending('theme_boost/drawer');
    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    M.util.js_complete('theme_boost/drawer');
    });
$(document).ready(function(){
    //  When user clicks on tab, this code will be executed
    $("[role=tab]").click(function() {
        //  First remove class "active" from currently active tab
        $("[role=tab]").removeClass('active');

        //  Now add class "active" to the selected/clicked tab
       $(this).addClass("active");

        //  Hide all tab content
        $("[role=tabpanel]").hide();

        //  Here we get the href value of the selected tab
        var selected_tab = $(this).find("a").attr("href");

        //  Show the selected tab content
        $(selected_tab).fadeIn();

        //  At the end, we add return false so that the click on the link is not executed
        return false;
    });
});
new Mmenu(document.querySelector('#menu'), {
      "extensions": [
        "pagedim-black"
      ]
  });

  document.addEventListener('click', function (evnt) {
      var anchor = evnt.target.closest('a[href^="#/"]');
      if (anchor) {
          evnt.preventDefault();
      }
});
{{/js}}
