<footer id="footer" class="footer style-01">
<div class="section-0281">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="logo-footer">
                        
                        <img alt="Hocbaionha" src="{{{ config.wwwroot }}}/theme/classon/pix/LogoHBON.svg" class="az_single_image-img attachment-full" width="250" >
                    </div>
                    <div class="footer-desc">
                        # Học nhẹ nhàng<br>
                        # Vững vàng kiến thức
                    </div>
                    <div class="furgan-socials style-01">
                        <h3 class="social-title">
                            Mạng xã hội </h3>
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://www.facebook.com/Hocbaionha/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCThnZptNJXvD7PSJPftPM8g?fbclid=IwAR3hpLQM2kFPgkfzX0aIDUu3kvXB-UxexocmkgQce9A86F2XLmEFE60kxMI" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="furgan-listitem style-01">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Về chúng tôi </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="/?page=about" target=" _blank">
                                        Giới thiệu </a>
                                </li>
                                <li>
                                    <a href="/?page=team" target="_self">
                                        Đội ngũ </a>
                                </li>
                                
                                <li>
                                    <a href="#" target="_self">
                                        Cộng tác viên </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="furgan-listitem style-01">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Thông tin </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="/?page=privacy" target="_self">
                                        Chính sách bảo mật </a>
                                </li>
                                <li>
                                    <a href="/?page=condition" target="_self">
                                        Điều khoản sử dụng </a>
                                </li>
                                <li>
                                    <a href="?page=help" target="_self">
                                        Hướng dẫn</a>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="furgan-listitem style-01">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Liên hệ </h4>
                            <ul class="listitem-list">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Aruna IPH, Tầng 6 Indochina Plaza Hanoi, <br/> 241 Xuân Thủy, Cầu Giấy, Hà Nội
                                </li>
                                
                                <li>
                                    <a href="mailto:info@hocbaionha.com">
                                        <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                                        info@hocbaionha.com </a>
                                </li>
                                <li>
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    024.7100.5858 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- xxx-->


    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 <a href="#">Dong Phuong EduTech Co. Ltd.</a> All Rights Reserved.</p>
                </div>
            </div>
        </div>
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>
