{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
<style>
i.fa{
    top:14px;
}
.furgan-socials .socials-list {
    padding-left: 0;
    list-style: none;
}
.furgan-socials.style-01 .social-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 45px;
}
.furgan-socials.style-01 .socials-list li {
    display: inline-block;
    height: 46px;
    margin-right: 10px;
    margin-top: 8px;
}
.furgan-socials.style-01 .socials-list li a {
    display: block;
    height: 46px;
    width: 46px;
    font-size: 17px;
    line-height: 48px;
    color: #fff;
    background-color: #1e1e1e;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.furgan-socials.style-01 .socials-list li a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    bottom: -1px;
    -webkit-transition: top 0.25s ease 0s;
    -moz-transition: top 0.25s ease 0s;
    -o-transition: top 0.25s ease 0s;
    transition: top 0.25s ease 0s;
    background-color: #9cc25d;
}
.furgan-socials.style-01 .socials-list li a i {
    position: relative;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "";
}
.furgan-listitem.style-01 .title, .furgan-listitem.style-02 .title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    position: relative;
    padding-left: 10px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
footer .furgan-listitem.style-01 li, footer .furgan-listitem.style-02 li {
    margin-bottom: 5px;
}
.furgan-listitem.style-01 li, .furgan-listitem.style-02 li {
    line-height: 34px;
}
.furgan-listitem a:not(:hover) {
    color: inherit;
}
.furgan-listitem li a {
    position: relative;
    display: inline-block;
}
.section-0281 {
    padding-top: 65px;
    padding-bottom: 55px;
    background-color: #f4f4f4;
    color: #868686;
}
.section-010 {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f4f4f4;
    border-top: 1px solid #ebebeb;
}
.availabilityinfo.isrestricted ul {
    display: none;
}

input.mod_quiz-redo_question_button {
    display: none;//anhnn Bỏ nút làm lại trong bài quiz
}


        #overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
        }
        #overlay:target {
            visibility: visible;
            display: block;
        }
        .close{
            cursor: pointer;
            font-size: 45px;
            color: red;
        }
        .image_event{
            margin: 0 auto;
            width: 430px;
            height: auto;
        }
        .reveal-modal {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            overflow: visible;
            max-height: 100%;
            max-width: 100%;
        }
        .popup__overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
        }
        .popup__close-btn {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 2.5rem;
            height: 1.875rem;
            width: 1.875rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #5a5a5a;
            top: -.625rem;
            right: -.625rem;
            border-radius: 1.25rem;
            border: 3px solid #fff;
        }
        .svg-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            fill: currentColor;
            position: relative;
            font-size: .75rem;
            color: #fff;
        }
        .imgstyle {
            background-image: url({{{ config.wwwroot }}}/local/school/image.php?filename={{{popup_img}}});
            background-color: white;
            background-size: contain;
            padding: 20px;
            height: 400px;
            width: 400px;
            border-radius: 19px;
            text-align:center;
            padding-top:140px;
        }
        .popup-text{
            color: #545454;
            font-weight: bold;
            width: 350px;
            margin:auto;
        }
        .phone{
            border: 2px solid #797979;
            background-color: #EFEFEF;
            border-radius: 4px;
            height: 40px;
            font-size:12px;
            width:250px;
            margin-top:15px;
            margin-bottom:15px;

        }
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }
        .send{
            width:250px;
            border: 2px solid #797979;
            background-color: #9CC25D;
            border-radius: 4px;
            height: 40px;
            color:#fff;
            text-align:center;
            font-weight:bold;
            font-size:20px;
        }

</style>

{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
{{#showpopup}}
    <div id="overlay" >
        <div class="popup__overlay"></div>
        <div class="reveal-modal">
            <div class="imgstyle">
                <form action="/local/sm/course_popup.php" method="post">
                    <input class="phone" type="text" name="phone" placeholder="Nhập số điện thoại của bạn" required/>
                    <input type="hidden" name="wanturl" value="{{{wanturl}}}"/>
                    <button class="send" type="submit">HỌC THỬ NGAY</button>
                </form>
            </div>
        </div>
    </div>
{{/showpopup}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_classon/navbar }}
    {{> theme_classon/nav-drawer }}

    <div id="page" class="container-fluid d-print-block">
        {{{ output.full_header }}}
        <div id="page-content" class="row pb-3 d-print-block">
            <input type="hidden" id="fb_id" value="{{fb_id}}">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}

    {{> theme_classon/classon_hp_footer_inside }}
</div>
</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(mod) {
    mod.init();
  M.util.js_complete('theme_boost/drawer');
});
var path = window.location.pathname;
if(path == '/mod/quiz/attempt.php'){
setInterval(function(){
var course_link = $('ol.breadcrumb li:nth-child(3n) a').attr('href');
var course = $('ol.breadcrumb li:nth-child(3n) a').html();
var topic_link = $('ol.breadcrumb li:nth-child(4n) a').attr('href');
var topic = $('ol.breadcrumb li:nth-child(4n) a').html();

var id = {{uid}};
var uid = $('#fb_id').val();
var action = window.location.href;
var data = {
'timeSpent': 30000,
'uid': uid,
'id':id,
'action': action,
'course': course,
'course_link': course_link,
'topic': topic,
'topic_link': topic_link
};
console.log(data);
$.ajax({
url: "/local/sm/log.php",
type: 'POST',
data: data,
success: function (data, textStatus, jqXHR) {
console.log(data);
},
error: function (jqXHR, textStatus, errorThrown) {},
})
}, 30000);
}else{
$(document).ready(function() {
var start = new Date();
$(window).on('beforeunload',function(e) {
e.returnValue = "Write something clever here..";

var course_link = $('ol.breadcrumb li:nth-child(3n) a').attr('href');
var course = $('ol.breadcrumb li:nth-child(3n) a').html();
var topic_link = $('ol.breadcrumb li:nth-child(4n) a').attr('href');
var topic = $('ol.breadcrumb li:nth-child(4n) a').html();

var end = new Date();
var id = {{uid}};
var uid = $('#fb_id').val();
var action = window.location.href;
var data = {
'timeSpent': end - start,
'uid': uid,
'id':id,
'action': action,
'course': course,
'course_link': course_link,
'topic': topic,
'topic_link': topic_link
};

$.ajax({
url: "/local/sm/log.php",
type: 'POST',
data: data,
success: function (data, textStatus, jqXHR) {
console.log(data);
},
error: function (jqXHR, textStatus, errorThrown) {},
async: true
})

});

$('a').click(function(e) {
var course_link = $('ol.breadcrumb li:nth-child(3n) a').attr('href');
var course = $('ol.breadcrumb li:nth-child(3n) a').html();
var topic_link = $('ol.breadcrumb li:nth-child(4n) a').attr('href');
var topic = $('ol.breadcrumb li:nth-child(4n) a').html();
var end = new Date();
var id = {{uid}};
var uid =  $('#fb_id').val();
var action =$(this).attr('href');
var data={'timeSpent': end - start,'uid':uid, 'id':id ,'action':action, 'course':course, 'course_link':course_link, 'topic':topic, 'topic_link':topic_link};
console.log(data);
if(topic_link !== 'undefined'){
$.ajax({
url: "/local/sm/log.php",
type: 'POST',
data: data,
success: function(data, textStatus, jqXHR) {
},
error: function(jqXHR, textStatus, errorThrown) {
},
async: true
});
}
});

});
}
{{/js}}
