{{!
    This file is part of Classon theme - https://classon.vn/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Home page slider
}}


<div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
    <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
        <ul>
            <li data-description="Slide Description"
                data-easein="default"
                data-easeout="default"
                data-fsmasterspeed="1500"
                data-fsslotamount="7"
                data-fstransition="fade"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-index="rs-1688"
                data-masterspeed="default"
                data-rotate="0"
                data-saveperformance="off"
                data-slotamount="default"
                data-thumb="{{{ config.wwwroot }}}/theme/classon/pix/slide/slider-1.jpg"
                data-title="Slide Title" data-transition="parallaxvertical">
                <img alt=""
                     class="rev-slidebg"
                     data-bgfit="cover"
                     data-bgparallax="10"
                     data-bgposition="center center"
                     data-bgrepeat="no-repeat"
                     data-no-retina=""
                     src="{{{ config.wwwroot }}}/theme/classon/pix/slide/slider-1.jpg"/>

                <div class="tp-caption"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingtop="[0,0,0,0]"
                     data-responsive_offset="on"
                     data-type="text"
                     data-height="none"
                     data-width="['580','700','700','550']"
                     data-whitespace="normal"
                     data-hoffset="['15','15','15','15']"
                     data-voffset="['-50','-90','-90','-90']"
                     data-x="['right','right','right','right']"
                     data-y="['middle','middle','middle','middle']"
                     data-textalign="['top','top','top','top']"
                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                    <h2>Chương trình <br/> phòng chống dich Covid -19</h2>
                </div>

                <div class="tp-caption"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingtop="[0,0,0,0]"
                     data-responsive_offset="on"
                     data-type="text"
                     data-height="none"
                     data-width="['580','700','700','550']"
                     data-whitespace="normal"
                     data-hoffset="['15','15','15','15']"
                     data-voffset="['75','40','20','0']"
                     data-x="['right','right','right','right']"
                     data-y="['middle','middle','middle','middle']"
                     data-textalign="['top','top','top','top']"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    <div class="text">Tài trợ miễn phí cho tất cả các nhà trường trên toàn quốc</div>

                </div>

                <div class="tp-caption tp-resizeme"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingtop="[0,0,0,0]"
                     data-responsive_offset="on"
                     data-type="text"
                     data-height="none"
                     data-width="['580','700','700','550']"
                     data-whitespace="normal"
                     data-hoffset="['15','15','15','15']"
                     data-voffset="['170','140','120','100']"
                     data-x="['right','right','right','right']"
                     data-y="['middle','middle','middle','middle']"
                     data-textalign="['top','top','top','top']"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    <div class="btn">
                        <a href="#" class="theme-btn btn-style-one">Kết nối ngay</a>
                    </div>

                </div>

            </li>

            <li data-description="Slide Description"
                data-easein="default"
                data-easeout="default"
                data-fsmasterspeed="1500"
                data-fsslotamount="7"
                data-fstransition="fade"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-index="rs-1688"
                data-masterspeed="default"
                data-rotate="0"
                data-saveperformance="off"
                data-slotamount="default"
                data-thumb="{{{ config.wwwroot }}}/theme/classon/pix/slide/slider-2.jpg"
                data-title="Slide Title" data-transition="parallaxvertical">
                <img alt=""
                     class="rev-slidebg"
                     data-bgfit="cover"
                     data-bgparallax="10"
                     data-bgposition="center center"
                     data-bgrepeat="no-repeat"
                     data-no-retina=""
                     src="{{{ config.wwwroot }}}/theme/classon/pix/slide/slider-2.jpg"/>

                <div class="tp-caption"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingtop="[0,0,0,0]"
                     data-responsive_offset="on"
                     data-type="text"
                     data-height="none"
                     data-width="['580','700','700','550']"
                     data-whitespace="normal"
                     data-hoffset="['15','15','15','15']"
                     data-voffset="['-50','-90','-90','-90']"
                     data-x="['right','right','right','right']"
                     data-y="['middle','middle','middle','middle']"
                     data-textalign="['top','top','top','top']"
                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                    <h2>Chương trình <br/> phòng chống dich Covid -19</h2>
                </div>

                <div class="tp-caption"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingtop="[0,0,0,0]"
                     data-responsive_offset="on"
                     data-type="text"
                     data-height="none"
                     data-width="['580','700','700','550']"
                     data-whitespace="normal"
                     data-hoffset="['15','15','15','15']"
                     data-voffset="['75','40','20','0']"
                     data-x="['right','right','right','right']"
                     data-y="['middle','middle','middle','middle']"
                     data-textalign="['top','top','top','top']"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    <div class="text">Tài trợ miễn phí cho tất cả các nhà trường trên toàn quốc</div>

                </div>

                <div class="tp-caption tp-resizeme"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingtop="[0,0,0,0]"
                     data-responsive_offset="on"
                     data-type="text"
                     data-height="none"
                     data-width="['580','700','700','550']"
                     data-whitespace="normal"
                     data-hoffset="['15','15','15','15']"
                     data-voffset="['170','140','120','100']"
                     data-x="['right','right','right','right']"
                     data-y="['middle','middle','middle','middle']"
                     data-textalign="['top','top','top','top']"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    <div class="btn">
                        <a href="#" class="theme-btn btn-style-one">Kết nối ngay</a>
                    </div>

                </div>

            </li>





        </ul>
    </div>
</div>